.normal {background: linear-gradient(180deg, #000000 40%, #A8A878 80%);}
.fire {background: linear-gradient(180deg, #000000 40%, #F08030 80%);}
.water {background: linear-gradient(180deg, #000000 40%, #6890F0 80%);}
.electric {background: linear-gradient(180deg, #000000 40%, #F8D030 80%);}
.grass {background: linear-gradient(180deg, #000000 40%, #78C850 80%);}
.ice {background: linear-gradient(180deg, #000000 40%, #98D8D8 80%);}
.fighting {background: linear-gradient(180deg, #000000 40%, #C03028 80%);}
.poison {background: linear-gradient(180deg, #000000 40%, #A040A0 80%);}
.ground {background: linear-gradient(180deg, #000000 40%, #E0C068 80%);}
.flying {background: linear-gradient(180deg, #000000 40%, #A890F0 80%);}
.psychic {background: linear-gradient(180deg, #000000 40%, #F85888 80%);}
.bug {background: linear-gradient(180deg, #000000 40%, #A8B820 80%);}
.rock {background: linear-gradient(180deg, #000000 40%, #B8A038 80%);}
.ghost {background: linear-gradient(180deg, #000000 40%, #705898 80%);}
.dark {background: linear-gradient(180deg, #000000 40%, #705848 80%);}
.dragon {background: linear-gradient(180deg, #000000 40%, #7038F8 80%);}
.steel {background: linear-gradient(180deg, #000000 40%, #B8B8D0 80%);}
.fairy {background: linear-gradient(180deg, #000000 40%, #F0B6D1 80%);}

.pokemonCard {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 1.5rem;
    height: 22rem;;
    text-align: center;
    transition: all 0.3s ease;
}

.pokemonCard:hover {
    transform: translateY(-10px);
    border: none;
    box-shadow: 10px 10px rgba(168, 168, 168, 0.671);
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
}

.pokemonName {
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.pokemonInfo {
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
}

.pokemonImage {
    width: 150px;
    height: 150px;
}

.buttonContainer {
    margin-top: 1rem;
}

.detailsButton {
    font-family: "Press Start 2P", system-ui;
    font-size: 0.8rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 6px 18px;
    border-radius: 5px;
}